<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/petclinic.css}" type="text/css" rel="stylesheet"/>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <table>
        <thead>
        <tr>
            <td>ID</td>
            <td>First Name</td>
            <td>Last Name</td>
        </tr>
        </thead>
        <th:block th:each="owner:${owners}">
            <tr>
                <td th:text="${owner.id}"/>
                <td th:text="${owner.firstName}"/>
                <td th:text="${owner.lastName}"/>
            </tr>
        </th:block>
    </table>
</body>
</html>